*
{
    margin: 0;
}

#navbar
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 214, 137);

    position: fixed;  /* <-- makes it stick to top */
    top: 0;           /* <-- top of viewport */
    left: 0;          /* <-- align to left edge */
    width: 100%;      /* <-- full width */
    z-index: 1000; 
}

#navbar #logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    justify-self: center;
}

@media (max-width: 730px) {
    #navbar {
        justify-content: center;
    }

    #navbar #logo {
        justify-content: center;
    }

    #navbar_links {
        justify-content: center;
        margin-right: 0px;
    }
}

@media (max-width: 500px)
{
    #navbar_links {
        display: flex;
        justify-content: center; 
    }
    #navbar_links button {
        flex: 1;
    }
}

#navbar #logo h1
{
    font-size: medium;
}

#navbar #logo img
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
}

#navbar_links
{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-end;
    
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#navbar_links button
{
    border-radius: 100px;
    border: none;
    font-weight: bold;
    background-color: #FB983D;
    transition: transform 0.1s;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#navbar_links button:hover
{
    transform: scale(1.1);
}

#navbar_links button img
{
    width: 18px;
    height: 18px;
}
